@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
    font-family: Nunito, serif;
    background-color: rgb(247, 251, 255);
    
}

/*===========================================
   BASE STYLES
============================================*/

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

h1 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1em;

}

h1,
h2 {
    color: rgb(83, 111, 138);
}

h2 {
    font-size: 18px;
}

hr {
    margin: 30px 0;
    color: rgb(83, 111, 138);

}

header {
    display: flex;
    flex-direction:  column;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    grid-gap: 30px;
    justify-content: center;
}

/*===========================================
   MODAL
============================================*/
.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 320px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    font-family: Nunito;
}

.modal-left:hover,
.modal-right:hover,
.modal-close:hover {
    cursor: pointer;
    transition: color;
    color: rgb(108, 146, 182);
}

.hidden {
    display: none;
}

.modal img {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.modal h2 {
    font-size: 24px;
}

.modal-close,
.modal-left,
.modal-right {
    background-color: transparent;
    border: 0;
    font-size: 24px;
    color: rgb(83, 111, 138);
}

.modal-left,
.modal-right {
    margin-bottom: 20px;
}

.modal-left {
    margin-right: 10px;
}

.modal-right {
    margin-left: 10px;
}
/*===========================================
   SEARCH
============================================*/

#search {
    width: 250px;
    height: 40px;
    justify-self: center;
    margin: 20px 0;
    border-radius: 7px;
    border: 2px solid rgb(231, 231, 231);
}

#search::placeholder {
    font-family: Nunito;
    color:rgb(197, 197, 197)
}

/*===========================================
   CARD
============================================*/

.card {
    border: 3px solid rgb(231, 231, 231);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: #fff;
}

.text-container,
.card p {
    color: rgb(173, 184, 196);
    font-size: 14px;
}

.card:hover {
    cursor: pointer;
    border-color: rgb(108, 146, 182);
    transition: border-color .1s ease-in;
    
}

.text-container p {
    padding: 5px 0;;
}

/*===========================================
   MEDIA QUERIES
============================================*/

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }

    .modal {
        width: 375px;
    }

    h1 {
        margin: 30px 0 20px 0;
    }

    header {
        flex-direction: row;
    }

    #search {
        width: 300px;
    }
}

@media (min-width: 1024px) {

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
        justify-content: center;
        margin: auto;
    }

    #search {
        width: 400px;
    }
}